tr{
    height:50px;
}
td, th {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

.guessRow{
    height: 210px
}

.invisible{
    display: none;
}

.correct{
    background-color: lightgreen;
}